@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.react-phone-input .form control{
    @apply !w-full py-6 !text-base;
}

/* .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  } */

  /* Hide scrollbar for webkit (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  width: 0.4rem; /* Adjust the width as needed */
}

/* Track (the background of the scrollbar) */
.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent; /* or any background color you prefer */
}

/* Handle (the draggable part of the scrollbar) */
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* or any color you prefer */
  border-radius: 0.2rem; /* Adjust the border radius as needed */
}

/* Handle on hover */
.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* or any color you prefer */
}


::-webkit-scrollbar {
  width: 5px; /* Set your desired width */
  height: 4px; /* Set your desired height */
}

/* Add a scrollbar track with the desired background color */
::-webkit-scrollbar-track {
  background-color: #ece9e9;
}

/* Add a scrollbar thumb with the desired color */
::-webkit-scrollbar-thumb {
  background-color:rgb(82, 82, 82) ; /* Set your desired thumb color */
  border-radius: 6px; /* Optional: Round the corners of the thumb */
}

/* Optional: Change the appearance of the scrollbar when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(49, 49, 49); /* Set your desired hover color */
}

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-10%);
      animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  .animate-bounce {
    animation: bounce 5s infinite;
    }

  @keyframes bounce-img {
    0%, 100% {
        transform: translateY(-2%);
        animation-timing-function: cubic-bezier(0.0,0,0,0);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.0,0);
    }
}
.animate-bounce-img {
    animation: bounce-img 5s infinite;
}

.background-animate {
  background-size: 400%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 6s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}


