@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.react-phone-input .form control{
    @apply !w-full py-6 !text-base;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-10%);
      animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  .animate-bounce {
    animation: bounce 5s infinite;
    }

  @keyframes bounce-img {
    0%, 100% {
        transform: translateY(-2%);
        animation-timing-function: cubic-bezier(0.0,0,0,0);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.0,0);
    }
}
.animate-bounce-img {
    animation: bounce-img 5s infinite;
}